{% extends 'main/header.html' %}


{% block content %}
<section id="portfolio" class="clearfix">
        <div class="container">
  
          <header class="section-header">
            <h3 class="section-title">Our Programming tutorial</h3>
          </header>

<div class="row">

    {% for tut, partone in part_ones.items  %}


<div class="col-md-2">
        <div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="250ms">
            <a href="{{partone}}" target="_blank">
                <img src="{{ tut.images.url }}" alt="">
                <h6 class="text-center">{{tut.tutorial_series}}.{{tut.series_summary}}</h6>
            </a>
            

        </div>
    </div>

  {% endfor %}

</div>

</div>
</section>
{% endblock %}
